<app-navbar/>
<section class="flex justify-around gap-5 flex-wrap w-full p-6 text-gray-400">
    <app-card><img class="w-14 h-14" src="../../../assets/icons/user-plus.svg" alt="user register image">Register</app-card>
    <app-card><img class="w-14 h-14" src="../../../assets/icons/users.svg" alt="user register image">Members</app-card>
    <app-card><img class="w-14 h-14" src="../../../assets/icons/frown.svg" alt="user register image">Defaulters</app-card>
    <app-card><img class="w-14 h-14" src="../../../assets/icons/activity.svg" alt="user register image">Analysis</app-card>
    <app-card><img class="w-14 h-14" src="../../../assets/icons/dollar-sign.svg" alt="user register image">Register Payment</app-card>
    <app-card><img class="w-14 h-14" src="../../../assets/icons/download.svg" alt="user register image">Download Sreadsheet</app-card>
</section>
<router-outlet/>
teste